# Data directories
arxiv_data/
*_db/
*.pdf
Database/processed_chunks.pkl

# Ignore Vector Databases and Large Binaries
Database/Vector-DB/
Database/Vector-DB-New/
Database/*.bin
Database/*.pkl
Database/*.sqlite3
.DS_Store

# Environment variables
.env

# API keys
*.key

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# Virtual Environment
venv/
ENV/